* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('sietk.jpeg');
    background-size: cover;
    /* Add your background gradient or image here */
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
}

.card {
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(0px) saturate(180%);
    /*background-color: rgba(0, 0, 0, 0.75);*/
    border-radius: 12px;
    border: 5px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.lock-icon {
    font-size: 3rem;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    padding-top: 10px;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    height: 50%;
    background: transparent;
    border-radius: 5px;
    padding-left: 8px;
}
button{
    background-color: beige;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
